@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf5f5;
  --foreground: #171717;
  --primary: #ffbea2;
  --sidebar-width: 100px;
}

[data-nav-open="true"] {
  --sidebar-width: 325px;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

ul {
    list-style-type: disc;
    margin-left: 40px;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: "Inter", Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}
